[program:anyway]
command=gunicorn -b 0.0.0.0:8000 -w 8 -t 120 anyway:app
directory=/var/www/anyway
user=www-data
autostart=true
autorestart=true
environment=DATABASE_URL="{{ anyway_db }}",PORT="808%(process_num)d",FACEBOOK_KEY="{{ FACEBOOK_KEY }}",FACEBOOK_SECRET="{{ FACEBOOK_SECRET }}",GOOGLE_LOGIN_CLIENT_ID="{{ GOOGLE_LOGIN_CLIENT_ID }}",GOOGLE_LOGIN_CLIENT_PASS="{{ GOOGLE_LOGIN_CLIENT_PASS }}",MAILUSER="{{ MAILUSER }}",MAILPASS="{{ MAILPASS }}",NEWFLASH_GOOGLE_KEY_FILE=/var/www/keys/newflash_google_key.json,GOOGLE_MAPS_KEY_FILE=/var/www/keys/google_maps_key.txt
