export DATABASE_URL="{{ anyway_db }}"
export MAILUSER="{{ MAILUSER }}"
export MAILPASS="{{ MAILPASS }}"
export NEWFLASH_GOOGLE_KEY_FILE=/var/www/keys/newflash_google_key.json
export GOOGLE_MAPS_KEY_FILE=/var/www/keys/google_maps_key.txt
export POSTGREST_DB_URL="{{ POSTGREST_DB_URL }}"
export POSTGREST_DB_SCHEMA="{{ POSTGREST_DB_SCHEMA }}"
export POSTGREST_ANON_ROLE="{{ POSTGREST_ANON_ROLE }}"
export POSTGREST_SERVER_PORT="{{ POSTGREST_SERVER_PORT }}"
